In [2]:
import pandas as pd

In [1]:
print("Hello World")

Hello World

In [ ]:
df = pd.read_csv("sales_dataset.csv")
df.describe()
df.head()

,Transaction_ID,Date,Product,Quantity,Price,Total_Sales
0,1,2025-04-13 00:00:00,Product_1,8,107.17,857.36
1,2,2025-12-15 00:00:00,Product_46,16,83.06,1328.96
2,3,2025-09-28 00:00:00,Product_16,17,98.10,1667.70
3,4,2025-04-17 00:00:00,Product_46,19,78.91,1499.29
4,5,2025-03-13 00:00:00,Product_3,15,88.43,1326.45